<div id="join_form_container">
  <h1>Join</h1>

  <%= form_with model: @member, url: auth_join_path, class: "auth-form", data: { turbo: true } do |form| %>
    <% if @member.errors.any? %>
      <ul class="message-set">
        <% @member.errors.full_messages.each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="field-set">
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "8+ characters" %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Join", class: "button" %>
    </div>
  <% end %>
</div>