<% if @member %>
  <h1>Your blood glucose levels</h1>
  <%= render "dashboards/glucose_metrics", metrics: @glucose_metrics %>

  <div class="debug-info">
    <h2>Debug Info</h2>
    <p>
      <%= @member.measurements.count %> measurements
      &middot;
      <a href="/api/v1/metrics/glucose_summary?user_id=<%= @member.id %>&preceding_timestamp=<%= Time.now.beginning_of_hour.iso8601 %>">View as API response</a></p>

    <form method="get" action="">
      <input type="datetime-local" id="mock_time" name="mock_time" value="<%= params[:mock_time] || Time.now.strftime("%Y-%m-%dT%H:%M") %>">
      <input type="submit" value="Set mock time" />
      <p>Try <a href="?mock_time=2024-04-23T23%3A59">4/23/2024</a> or <a href="?mock_time=2024-01-07T23%3A59">1/7/2024</a>)</p>
    </form>
  </div>

<% else %>
  <h1>Welcome to GCM</h1>

  <p>Need some help with you blood glucose meter or continuous glucose monitor? Look no further!</p>

  <div class="actions"><a class="button" href="/auth/join">Join</a></div>
<% end %>

