<turbo-frame id="glucose_metrics_display">
  <div id="glucose_metrics_container" data-controller="<%= metrics[:week].nil? || metrics[:month].nil? ? "retry" : nil %>">
    <% [:week, :month].each do |period| %>
      <h2><%= period == :week ? "Past week" : "Past month" %></h2>
      <% if metrics[period].nil? %>
        <p>Computing...</p>
      <% elsif metrics[period][:num_measurements] < 1 %>
        <p>No data available for this period</p>
      <% else %>
        <div class="metrics">
          <div class="metrics-item">
            Measurements: <%= metrics[period][:num_measurements] %>
          </div>
          <div class="metrics-item">
            Average Glucose: <%= metrics[period][:average_glucose_level].round(1) %> mg/dL
          </div>
          <div class="metrics-item">
            Time Below Range: <%= (metrics[period][:time_below_range] * 100).round %>%
          </div>
          <div class="metrics-item">
            Time Above Range: <%= (metrics[period][:time_above_range] * 100).round %>%
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
